{
    "openapi": "3.0.0",
    "info": {
        "title": "Invaro Document Processing API",
        "description": "API for processing bank statements and invoices using OCR and AI",
        "version": "1.0.0",
        "contact": {
            "name": "Invaro Support",
            "email": "support@invaro.ai",
            "url": "https://docs.invaro.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.invaro.ai/api/v1",
            "description": "Production API"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/parse/upload": {
            "post": {
                "summary": "Upload Documents",
                "description": "Upload one or more documents for processing",
                "operationId": "uploadDocuments",
                "tags": [
                    "File Upload"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "files"
                                ],
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        },
                                        "description": "Documents to upload (PDF, JPG, JPEG, PNG)"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Files uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "file_id": {
                                                                "type": "string",
                                                                "example": "1739260380783576729_invoice3.pdf"
                                                            },
                                                            "file_url": {
                                                                "type": "string",
                                                                "example": "https://wssbebkqiavijahjhako.supabase.co/storage/v1/object/public/invoices/1739260380783576729_invoice3.pdf"
                                                            },
                                                            "doc_id": {
                                                                "type": "string",
                                                                "example": "f663d9ac-6d5b-4cfe-bf30-ac19ad9429e4"
                                                            }
                                                        }
                                                    }
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "done"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid file type or missing files",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid file type. Supported types: PDF, JPG, JPEG, PNG"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/parse/statements": {
            "post": {
                "summary": "Process Bank Statements",
                "description": "Start processing uploaded bank statements",
                "operationId": "processStatements",
                "tags": [
                    "Statement Processing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "document_id"
                                ],
                                "properties": {
                                    "document_id": {
                                        "type": "string",
                                        "description": "Document ID of the statement to process"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Processing started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "job_id": {
                                                    "type": "string",
                                                    "example": "job_1739261168870934041"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/parse/statements/{job_id}": {
            "get": {
                "summary": "Get Statement Processing Status",
                "description": "Check the status of a bank statement processing job",
                "operationId": "getStatementStatus",
                "tags": [
                    "Statement Processing"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID of the processing job"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Job status retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "job_id": {
                                                    "type": "string",
                                                    "example": "job_1739261168870934041"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "processing",
                                                        "completed",
                                                        "failed"
                                                    ],
                                                    "example": "completed"
                                                },
                                                "file_id": {
                                                    "type": "string",
                                                    "example": "sample_invoice.pdf"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-11T08:19:37Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-11T08:19:53Z"
                                                },
                                                "progress": {
                                                    "type": "number",
                                                    "example": 45
                                                },
                                                "results": {
                                                    "type": "object",
                                                    "properties": {
                                                        "account_info": {
                                                            "type": "object"
                                                        },
                                                        "transactions": {
                                                            "type": "array"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/parse/invoices": {
            "post": {
                "summary": "Process Invoices",
                "description": "Start processing uploaded invoices",
                "operationId": "processInvoices",
                "tags": [
                    "Invoice Processing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "document_id"
                                ],
                                "properties": {
                                    "document_id": {
                                        "type": "string",
                                        "description": "Document ID of the invoice to process"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Processing started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "job_id": {
                                                    "type": "string",
                                                    "example": "job_1739261168870934041"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/parse/invoices/{job_id}": {
            "get": {
                "summary": "Get Invoice Processing Status",
                "description": "Check the status of an invoice processing job",
                "operationId": "getInvoiceStatus",
                "tags": [
                    "Invoice Processing"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID of the processing job"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Job status retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "job_id": {
                                            "type": "string",
                                            "example": "job_123456789"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "processing",
                                                "completed",
                                                "failed"
                                            ],
                                            "example": "completed"
                                        },
                                        "file_id": {
                                            "type": "string",
                                            "example": "sample_invoice.pdf"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-02-11T08:19:37Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-02-11T08:19:53Z"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "bank_details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "IFSC": {
                                                            "type": "string",
                                                            "example": "ABC0001234"
                                                        },
                                                        "SWIFT_CODE": {
                                                            "type": "string",
                                                            "example": "ABCDINBB"
                                                        },
                                                        "account_number": {
                                                            "type": "string",
                                                            "example": "123456789012"
                                                        },
                                                        "bank_name": {
                                                            "type": "string",
                                                            "example": "XYZ Bank Ltd."
                                                        }
                                                    }
                                                },
                                                "buyer_details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "GSTIN": {
                                                            "type": "string",
                                                            "example": "00AAAAA0000A1Z0"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "ABC Enterprises"
                                                        },
                                                        "address": {
                                                            "type": "string",
                                                            "example": "123, Main Street, City, Country"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "9876543210"
                                                        },
                                                        "state_code": {
                                                            "type": "string",
                                                            "example": "XY"
                                                        }
                                                    }
                                                },
                                                "invoice_details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "GR_date": {
                                                            "type": "string",
                                                            "example": "01/01/2025"
                                                        },
                                                        "GR_number": {
                                                            "type": "string",
                                                            "example": "987654"
                                                        }
                                                    }
                                                },
                                                "tax_calculation": {
                                                    "type": "object",
                                                    "properties": {
                                                        "HSN": {
                                                            "type": "string",
                                                            "example": "12345678"
                                                        },
                                                        "IGST_amount": {
                                                            "type": "string",
                                                            "example": "1000.00"
                                                        },
                                                        "IGST_percentage": {
                                                            "type": "string",
                                                            "example": "10%"
                                                        },
                                                        "reverse_charge_applicable": {
                                                            "type": "string",
                                                            "example": "Not applicable"
                                                        }
                                                    }
                                                },
                                                "total_calculation": {
                                                    "type": "object",
                                                    "properties": {
                                                        "IGST_at_10_percentage": {
                                                            "type": "string",
                                                            "example": "100.00"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid job ID or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid job ID provided"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/parse/statements/batch": {
            "post": {
                "summary": "Process Multiple Bank Statements",
                "description": "Process multiple bank statements in a single batch (maximum 10 documents)",
                "operationId": "processStatementsBatch",
                "tags": [
                    "Statement Processing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "files"
                                ],
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "maxItems": 10,
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "document_id"
                                            ],
                                            "properties": {
                                                "document_id": {
                                                    "type": "string",
                                                    "description": "UUID of the document to process"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "document_id": "uuid-of-document-1"
                                            },
                                            {
                                                "document_id": "uuid-of-document-2"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch processing started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "batch_id": {
                                                    "type": "string",
                                                    "example": "batch_123"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "job_ids": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "job_1",
                                                        "job_2"
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-07T10:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-07T10:00:00Z"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/parse/invoices/batch": {
            "post": {
                "summary": "Process Multiple Invoices",
                "description": "Process multiple invoices in a single batch (maximum 10 documents)",
                "operationId": "processInvoicesBatch",
                "tags": [
                    "Invoice Processing"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "files"
                                ],
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "maxItems": 10,
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "document_id"
                                            ],
                                            "properties": {
                                                "document_id": {
                                                    "type": "string",
                                                    "description": "UUID of the document to process"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "document_id": "uuid-of-document-1"
                                            },
                                            {
                                                "document_id": "uuid-of-document-2"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch processing started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "batch_id": {
                                                    "type": "string",
                                                    "example": "batch_123"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                },
                                                "job_ids": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "job_1",
                                                        "job_2"
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-07T10:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-07T10:00:00Z"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            },
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization",
                "description": "Add your API key with 'Bearer' prefix: Bearer your_api_key"
            }
        }
    }
}